/Practica6_AP/nbproject/private/
/Practica5/nbproject/private/
Practica2_AP/nbproject/private/private.xml
Practica5_AP/nbproject/private/private.xml
Practica4_AP/nbproject/private/private.xml
Practica3_AP/nbproject/private/private.xml
Practica2_AP/nbproject/private/private.xml
Practica5_AP/nbproject/private/private.xml
Practica4_AP/nbproject/private/private.xml
Practica3_AP/nbproject/private/private.xml
*.xml
